<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>水庫名稱</th>
      <th>更新時間</th>
      <th>即時水位 %</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>石門水庫</td>
      <td>2022-10-12(23時)</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>新山水庫</td>
      <td>2022-10-12(7時)</td>
      <td>75.21</td>
    </tr>
    <tr>
      <th>2</th>
      <td>翡翠水庫</td>
      <td>2022-10-12(23時)</td>
      <td>92.05</td>
    </tr>
    <tr>
      <th>3</th>
      <td>寶山第二水庫</td>
      <td>2022-10-12(23時)</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>永和山水庫</td>
      <td>2022-10-12(23時)</td>
      <td>99.47</td>
    </tr>
    <tr>
      <th>5</th>
      <td>明德水庫</td>
      <td>2022-10-12(7時)</td>
      <td>88.71</td>
    </tr>
    <tr>
      <th>6</th>
      <td>鯉魚潭水庫</td>
      <td>2022-10-12(23時)</td>
      <td>99.85</td>
    </tr>
    <tr>
      <th>7</th>
      <td>德基水庫</td>
      <td>2022-10-12(7時)</td>
      <td>99.56</td>
    </tr>
    <tr>
      <th>8</th>
      <td>石岡壩</td>
      <td>2022-10-12(23時)</td>
      <td>92.10</td>
    </tr>
    <tr>
      <th>9</th>
      <td>霧社水庫</td>
      <td>2022-10-12(7時)</td>
      <td>93.56</td>
    </tr>
    <tr>
      <th>10</th>
      <td>日月潭水庫</td>
      <td>2022-10-12(7時)</td>
      <td>98.25</td>
    </tr>
    <tr>
      <th>11</th>
      <td>集集攔河堰</td>
      <td>2022-10-12(23時)</td>
      <td>14.11</td>
    </tr>
    <tr>
      <th>12</th>
      <td>湖山水庫</td>
      <td>2022-10-12(23時)</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>仁義潭水庫</td>
      <td>2022-10-12(7時)</td>
      <td>90.27</td>
    </tr>
    <tr>
      <th>14</th>
      <td>白河水庫</td>
      <td>2022-10-12(8時)</td>
      <td>53.78</td>
    </tr>
    <tr>
      <th>15</th>
      <td>烏山頭水庫</td>
      <td>2022-10-12(7時)</td>
      <td>65.61</td>
    </tr>
    <tr>
      <th>16</th>
      <td>曾文水庫</td>
      <td>2022-10-12(23時)</td>
      <td>45.18</td>
    </tr>
    <tr>
      <th>17</th>
      <td>南化水庫</td>
      <td>2022-10-12(7時)</td>
      <td>99.33</td>
    </tr>
    <tr>
      <th>18</th>
      <td>阿公店水庫</td>
      <td>2022-10-12(23時)</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th>19</th>
      <td>高屏溪攔河堰</td>
      <td>2022-10-12(23時)</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>20</th>
      <td>牡丹水庫</td>
      <td>2022-10-12(23時)</td>
      <td>68.43</td>
    </tr>
  </tbody>
</table>